<div>image-upload.component</div>

<fileDroppa
    [url]="'https://quiet-escarpment-61251.herokuapp.com/upload'"
    [autoUpload]="false"
    [showFilesList]="true"
    [beforeRequest]="beforeRequest"
    [beforeFileUpload]="beforeFileUpload"
    [beforeAddFile]="beforeAddFile"
    (filesUpdated)="filesUpdated($event)"
    (fileUploaded)="fileUploaded($event)"
>
    <!--<h1>-->
    <!--You can pass anything you want here-->
    <!--You can set you own file list here-->
    <!--</h1>-->
</fileDroppa>