<footer>
    <nav md-tab-nav-bar>
        <a md-tab-link id="index"
           routerLinkActive="active"
           [routerLink]=" ['./table-view'] "
           [routerLinkActiveOptions]="{exact: true}">
            Table view
        </a>
        <a md-tab-link
           routerLinkActive="active"
           [routerLink]=" ['./block-view'] "
           [routerLinkActiveOptions]="{exact: true}">
            Block view
        </a>
        <a md-tab-link
           routerLinkActive="active"
           [routerLink]=" ['./image-upload'] "
           [routerLinkActiveOptions]="{exact: true}">
            Image upload
        </a>
    </nav>
    <div>
        <span>Powered by Serhii Harbovskyi, 2017</span>
        <a href="mailto:garbovsky.s@gmail.com">garbovsky.s@gmail.com</a>
    </div>
</footer>